div#onepiece {
    background-image: url(../img/onepiece.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    margin: 25px;
    border: 100px;
    padding: 100px;
}

div#onepieceintro {
    background-image: url(../img/onepiece2.jpg);
    background-size: contain;
    background-repeat: repeat;
    margin: 25px;
    border: 100px;
    padding: 100px;
}