body {
    background-color: rgb(19, 199, 199);
}

.mdiv {
    margin: 20px;
}

.sdiv {
    display: flex;
    justify-content: space-between;
}

.tdiv {
    display: flex;
}

.tdiv div p {
    text-align: center;
    padding-top: 350px;
}

.pm {
    text-align: end;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 50px;
    margin-top: 20px;
}

#menu {
    background-color: #f1f1f1;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 300px;
    text-align: center;
}

#menu a {
    text-decoration: none;
    color: black;
}

#text {
    background-color: #f1f1f1;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 65%;
    height: 800px;
}

#sidebar {
    background-color: #f1f1f1;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 35%;
}

#img img {
    width: 100%;
    padding-top: 20px;
}