body {
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-size: cover;
}

.sdiv {
    text-align: center;
}


.list {
    display: flex;
}

.list a {
    text-decoration: none;
    color: black;
}

.list div button {
    margin: 50px;
    padding: 30px;
    border-radius: 50%;
}

.p div p {
    width: 500px;
}