#container {
    max-width: 1024px;
    margin: auto;
}

body {
    margin: 0px;
}

.header {
    text-align: center;
    padding: 20px;
}

.topnav {
    display: flex;
    background-color: #333;
    padding: 10px;
    justify-content: space-between;
}

.topnav div a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav {
    display: flex;
}

.header h1 {
    font-size: 45px;
}

.content {
    display: flex;
}

#title {
    width: 75%;
}

#me {
    width: 25%;
}

.t1 {
    background-color: #f1f1f1;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.t2 {
    background-color: #f1f1f1;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.m1 {
    background-color: #f1f1f1;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.m2 {
    background-color: #f1f1f1;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.m3 {
    background-color: #f1f1f1;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
}

#image {
    background-color: rgb(165, 164, 164);
    padding: 20px;
    height: 200px;
}

#image2 {
    background-color: rgb(165, 164, 164);
    padding: 20px;
    height: 200px;
}

#image3 {
    background-color: rgb(165, 164, 164);
    padding: 20px;
    height: 100px;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
}

#h2 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.image p {
    background-color: rgb(165, 164, 164);
    margin: 0px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
}

@media screen and (max-width: 480px) {
    .content {
        flex-direction: column;
    }

    .c {
        width: 100%;
    }
}