body {
    background-color: rgb(229, 224, 224);
}

.mdiv {
    background-image: url(../img/imat-bagja-gumilar-jwTvCQQJXh0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 770px;
    position: relative;
}

.topnav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 50px;
    padding-top: 10px;
}

.secnav {
    text-align: center;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 45%;
    width: 100%;
}

.nav {
    color: red;
    padding-left: 20px;
    padding-top: 10px;
}

.nav2 {
    display: flex;
    margin: 10px;
}

.nav2 div a {
    margin: 10px;
    color: black;
    text-decoration: none;
    position: relative;
    right: 60px;
}

.nav2 div img {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 10px;
    right: 20px;
    border-radius: 50%;
}

.fdiv {
    display: flex;
    justify-content: center;
}

.fdiv div a {
    color: white;
    text-decoration: none;
    padding-right: 80px;
}

.fdiv div img {
    padding-right: 10px;
}

.footer {
    display: flex;
    position: absolute;
    bottom: 60px;
    left: 40px;
}

.footer div p {
    color: white;
}

#f1 {
    padding-right: 10px;
    padding-top: 5px;
}

#f1 img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 3px white solid;
}

#next {
    color: red;
}

#gt {
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
}

.sdiv {
    border: 2px white dashed;
    width: 420px;
    position: absolute;
    bottom: 60px;
    right: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.p div p {
    color: white;
}